<div class="pageContent">
    <form id="addNews" enctype="multipart/form-data" class="pageForm required-validate"
          onsubmit="return iframeCallback(this, dialogAjaxDone)" action="/manage/OrganizationsController/saveOrganization" method="POST">
        <div class="pageFormContent" layoutH="56">
            <p>
                <label>单位名称：</label>
                <input name="id" th:value="${org}?${org.id}:''" value="" type="hidden"/>
                <input name="parentID" th:value="${parentID}" type="hidden"/>
                <input name="unitlevel" th:value="${unitlevel?:''}" type="hidden"/>
                <input name="name" type="text" size="30" value="" class="required" th:value="${org}?${org.name}:''"/>
            </p>
            <p>
                <label>单位电话：</label>
                <input name="phoneNum" type="text" size="30" value="" class="textInput" th:value="${org}?${org.phoneNum}:''"/>
            </p>
            <p>
                <label>所属省份（直辖市）：</label>
                <input name="province" type="text" size="30" value="" class="textInput" th:value="${org}?${org.province}:''"/>
            </p>
            <p>
                <label>所属市：</label>
                <input name="city" type="text" size="30" value="" class="textInput" th:value="${org}?${org.city}:''"/>
            </p>
            <p>
                <label>所属区：</label>
                <input name="area" type="text" size="30" value="" class="textInput" th:value="${org}?${org.area}:''"/>
            </p>
            <p>
                <label>具体地址：</label>
                <input name="address" type="text" value="" size="30" class="textInput" th:value="${org}?${org.address}:''"/>
            </p>
            <p>
                <label>单位FID：</label>
                <input name="fid" type="text" size="30" value="" class="required digits" th:value="${fid}" placeholder="整数"/>
            </p>
        </div>
        <div class="formBar">
            <ul>
                <!--<li><a class="buttonActive" href="javascript:;"><span>保存</span></a></li>-->
                <li>
                    <div class="buttonActive">
                        <div class="buttonContent">
                            <button type="submit">保存</button>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="button">
                        <div class="buttonContent">
                            <button type="button" class="close">取消</button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </form>
</div>
