<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1, user-scalable=0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>个人详情页面</title>
    <link rel="stylesheet" href="/static/front/css/reset.css">
    <link rel="stylesheet" href="/static/front/css/selectFilter.css">
    <link rel="stylesheet" href="/static/front/css/style.css">
    <style></style>
</head>

<body>
    <div class="lzda_info">
        <div class="screen_cell">
            <div class="filter-box screen_date">
                <div class="filter-text">
                    <input class="filter-title" type="text" readonly placeholder="pleace select" style="width: 120px" />
                    <i class="icon icon-filter-arrow"></i>
                </div>
                <select name="filter">
                    <option value="2019" th:selected="${year == 2019}">2019</option>
                    <option value="2018" th:selected="${year == 2018}">2018</option>
                    <option value="2017" th:selected="${year == 2017}">2017</option>
                    <option value="2016" th:selected="${year == 2016}">2016</option>
                    <option value="2015" th:selected="${year == 2015}">2015</option>
                    <option value="2014" th:selected="${year == 2014}">2014</option>
                    <option value="2013" th:selected="${year == 2013}">2013</option>
                    <option value="2012" th:selected="${year == 2012}">2012</option>
                    <option value="2011" th:selected="${year == 2011}">2011</option>
                    <option value="2010" th:selected="${year == 2010}">2010</option>
                </select>
            </div>
        </div>
        <div class="personage_msg">
            <p>
                <span class="personal_tx"><img src="/static/front/images/personal_tx.png" alt=""></span>
            </p>
            <p th:text="${user?.uname}">程媛媛</p>
            <div class="person_core">
                <div class="fl core_box">
                    <img src="/static/front/images/core_icon.png" alt="" style="width: 0.55rem;height: 0.55rem">
                    <p>总分：<font th:text="${user?.getTotal()}">80</font>
                    </p>
                </div>
                <div class="fr evaluate_box">
                    <img src="/static/front/images/edit_icon.png" alt="" style="width: 0.54rem;height: 0.54rem">
                    <p>评价：<font th:text="${user?.grade}">职称</font>
                    </p>
                </div>
            </div>
        </div>
        <div class="link_list">
            <ul>
                <li>
                    <a href="#">
                        <span class="fl title" th:href="'/front/Advise/listAdvise?year=' + ${year}  + '&userId=' + ${user?.id} + '&type=2'">建议</span>
                        <span class="fr core" th:text="${user?.getSuggestCount()}+'条'">21</span>
                    </a>
                </li>


                <li th:each="vo:${classifyList}"  th:if="${!vo?.suggest}">
                    <a  href="" th:href="'/front/activity/form?userId=' +  ${user?.id}  + '&classifyId=' +  ${vo?.id} + '&year=' + ${year}">
                        <span class="fl title"  th:text="${vo?.classifyName}"></span>
                        <span class="fr core"  th:text="${user?.getCount(vo.id)}+'条'">21</span>
                    </a>
                </li>

            </ul>
        </div>
    </div>
</body>

</html>


<script src="/static/front/js/jquery-1.7.2.min.js"></script>
<script src="/static/front/js/rem750.js"></script>
<script src="/static/front/js/selectFilter.js"></script>

<script>
    $('.screen_date').selectFilter({
        callBack: function (val) {
            // alert(val)

            var id = [[${user?.id}]] ;
            location.href = "/front/user/" + id + "/" + val + "/detail" ;
        }
    });
</script>