<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1, user-scalable=0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>西湖区街道列表</title>
    <link rel="stylesheet" href="/static/front/css/reset.css">
    <link rel="stylesheet" href="/static/front/css/style.css">

</head>

<body>
    <div class="contain">
        <ul class="district_list">


            <li th:each="vo:${organizationsList}">
                <a href="#" th:href="'/front/Area/' + ${vo?.id} +'/listp/'">
                    <div class="district_logo">
                        <img src="/static/front/images/district_logo.png" alt="">
                    </div>
                    <p th:text="${vo?.name}"></p>
                </a>
            </li>

        </ul>
    </div>
</body>

</html>


<script src="/static/front/js/jquery-1.7.2.min.js"></script>
<script src="/static/front/js/rem750.js"></script>