<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1, user-scalable=0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>审核流程页</title>
    <link rel="stylesheet" href="/static/front/css/reset.css">
    <link rel="stylesheet" href="/static/front/css/minirefresh.min.css">
    <link rel="stylesheet" href="/static/front/css/style.css">
</head>
<body>
<div class="processTrace">
    <ul>
        <li class="current_node" th:if="${advise?.aduitStatus gt 4}">
            <div class="date_box fl">
                <span th:text="${#dates.format(advise?.finalAudit?.created, 'yyyy.MM.dd')}">2019.03.18</span>
            </div>
            <div class="icon_box fl">
                <span class="icon"></span>
            </div>
            <div class="trace_info fl">
                <dl>
                    <dt>
                        <span class="fl state" th:text="已办理"></span>
                        <span class="fr time" th:text="${#dates.format(advise?.finalAudit?.created,'HH:mm')}">12:03</span>
                    </dt>
                    <dd th:text="'办理人：'+${advise?.finalAudit?.blr}"></dd>
                </dl>
            </div>
        </li>
        <li th:if="${advise?.aduitStatus gt 3}">
            <div class="date_box fl">
                <span th:text="${#dates.format(advise?.jbrCreated, 'yyyy.MM.dd')}">2019.03.18</span>
            </div>
            <div class="icon_box fl">
                <span class="icon"></span>
            </div>
            <div class="trace_info fl">
                <dl>
                    <dt>
                        <span class="fl state" th:text="已交办"></span>
                        <span class="fr time" th:text="${#dates.format(advise?.jbrCreated, 'HH:mm')}">12:03</span>
                    </dt>
                    <dd th:text="'交办人：'+${advise?.jbrname}"></dd>
                </dl>
            </div>
        </li>
        <li th:if="${advise?.aduitStatus gt 2}">
            <div class="date_box fl">
                <span th:text="${#dates.format(lastAuditData?.updated, 'yyyy.MM.dd')}">2019.03.18</span>
            </div>
            <div class="icon_box fl">
                <span class="icon"></span>
            </div>
            <div class="trace_info fl">
                <dl>
                    <dt>
                        <span class="fl state" th:text="审核已通过，正在交办"></span>
                        <span class="fr time" th:text="${#dates.format(lastAuditData?.updated, 'HH:mm')}">12:03</span>
                    </dt>
                    <dd th:text="'审查人：'+${lastAuditData?.auditname}"></dd>
                </dl>
            </div>
        </li>
        <li th:if="${advise?.aduitStatus eq 1}">
            <div class="date_box fl">
                <span th:text="${#dates.format(lastAuditData?.updated, 'yyyy.MM.dd')}">2019.03.18</span>
            </div>
            <div class="icon_box fl">
                <span class="icon"></span>
            </div>
            <div class="trace_info fl">
                <dl>
                    <dt>
                        <span class="fl state" th:text="不予接收"></span>
                        <span class="fr time" th:text="${#dates.format(lastAuditData?.updated, 'HH:mm')}">12:03</span>
                    </dt>
                    <dd th:text="'原因：'+${lastAuditData?.adviseDetail?:''}"></dd>
                </dl>
            </div>
        </li>
        <li>
            <div class="date_box fl">
                <span th:text="${#dates.format(advise?.updated, 'yyyy.MM.dd')}">2019.03.18</span>
            </div>
            <div class="icon_box fl">
                <span class="icon start_icon"></span>
            </div>
            <div class="trace_info fl">
                <dl>
                    <dt>
                        <span class="fl state" th:text="提交"></span>
                        <span class="fr time" th:text="${#dates.format(advise?.updated, 'HH:mm')}">12:03</span>
                    </dt>
                    <dd th:text="'提交人：'+${advise?.users?.uname}"></dd>
                </dl>
            </div>
        </li>
    </ul>
</div>
</body>
</html>
<script src="/static/front/js/jquery-1.7.2.min.js"></script>
<script src="/static/front/js/rem750.js"></script>
<script src="/static/front/js/minirefresh.min.js"></script>