<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1, user-scalable=0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>建议列表页</title>
    <link rel="stylesheet" href="/static/front/css/reset.css">
    <link rel="stylesheet" href="/static/front/css/minirefresh.min.css">
    <link rel="stylesheet" href="/static/front/css/style.css">
</head>
<body>
<div class="sear_box">
    <a href="/front/Advise/writeAdvise" class="fl suggest" th:if="${type eq 0}">写建议</a>
    <span class="filter fl">筛选</span>
    <div class="search">
        <input type="text" placeholder="请输入捜索内容" value="" name="title" class="searchData" style="padding-left: 0.4rem;"/>
        <input type="submit" value="" style="margin-left: 0.4rem;" onclick="searchAdvise()"/>
    </div>
</div>
<div class="suggest_list">
    <div id='minirefresh' class='minirefresh-wrap' th:uid="${uid?:-1}" th:year="${year?:0}">
        <div class='minirefresh-scroll'>
            <ul class="listdata">

            </ul>
        </div>
    </div>
</div>
<div class="pop_filter">
    <div class="filter_box">
        <div class="filter_item">
            <h1><span class="cloum_title">年份</span></h1>
            <div class="classify fdafsa">
                <span class="cur" value="0">所有</span>
                <span value="2020">2020</span>
                <span value="2019">2019</span>
                <span value="2018">2018</span>
                <span value="2017">2017</span>
            </div>
        </div>
        <div class="filter_item">
            <h1><span class="cloum_title">状态</span></h1>
            <div class="classify status" th:type="${type?:0}">
                <span class="cur" value="-1">所有</span>
                <span value="0">待审查</span>
                <span value="1">不予接收</span>
                <span value="3">交办中</span>
                <span value="4">办理中</span>
                <span value="5">已答复</span>
            </div>
        </div>
        <div class="filter_item" th:if="${type eq  2}">
            <h1><span class="cloum_title">街道</span></h1>
            <div class="classify hrterg">
                <span class="cur" value="">所有</span>
                <span th:each="vo:${organizations}" th:text="${vo?.name}" th:value="${vo?.name}">双浦镇</span>
            </div>
        </div>
        <div class="control_box">
            <span class="sure">确定</span>
            <span class="cancle">取消</span>
        </div>
    </div>
</div>
</body>
</html>
<script src="/static/front/js/jquery-1.7.2.min.js"></script>
<script src="/static/front/js/rem750.js"></script>
<script src="/static/front/js/minirefresh.min.js"></script>
<script src="/static/front/js/cookieutils.js"></script>
<script>
    $(document).on('click', '.pop_filter .classify span', function () {
        $(this).addClass('cur').siblings().removeClass('cur')
    });
    $(document).on('click', '.pop_filter .control_box span.cancle', function () {
        $(this).parents('.pop_filter').hide()
        $(this).parents('.filter_box').hide()
    });
    $(document).on('click', '.pop_filter .control_box span.sure', function () {
        $(this).parents('.pop_filter').hide();
        $(this).parents('.filter_box').hide()
        var aduitStatus = $(".status span[class='cur']").attr("value");
        var unitname = $(".hrterg span[class='cur']").attr("value");
        var cyear = $(".fdafsa span[class='cur']").attr("value");
        if (cyear) {
            year = cyear;
        }
        aduitStatus = parseInt(aduitStatus);
        var url = "/front/Advise/listUserAdvise?year=" + year + "&aduitStatus=" + aduitStatus + "&unitname=" + unitname + "&type=" + type;
        initNew(url);
    });
    $('.sear_box span.filter').click(function () {
        $(this).toggleClass('filtered')
        if ($('.pop_filter').css('display') == 'none') {
            $('.pop_filter').show();
            $('.pop_filter .filter_box').slideDown(500)
        } else {
            $('.pop_filter .filter_box').slideUp(function () {
                $('.pop_filter').hide();
                $(this).hide()
            })
        }
    });

    function searchAdvise() {
        var title = $(".searchData").val();
        var url = "/front/Advise/listUserAdvise?year=" + year + "&title=" + title + "&type=" + type;
        initNew(url);
    }

    //上拉加载
    var size = 10;
    var page = 0;
    var miniRefreshArr;
    var year = $("#minirefresh").attr("year");
    var type = $(".status").attr("type");
    init('/front/Advise/listUserAdvise?year=' + year);

    function initNew(url) {
        page = 0;
        $('.listdata').html('');
        /*$(".status-nomore").remove();*/
        init(url);
    }

    function init(url) {
        miniRefreshArr = new MiniRefresh({
            container: '#minirefresh',
            down: {
                callback: function () {
                    doAjax('down', url);
                }
            },
            up: {
                isAuto: true,
                callback: function () {
                    doAjax('up', url);
                }
            }
        })
    }

    var uid = $("#minirefresh").attr("uid");

    function doAjax(downOrUp, url) {
        if (downOrUp == "down") {
            page = 1;
        } else {
            page++;
        }
        $.ajax({
            url: url + '&page=' + page + '&size=' + size + "&type=" + type + "&uid=" + uid,
            type: 'GET',
            success: function (response) {
                htmlData(response, downOrUp);
            }
        })
    }

    function htmlData(response, downOrUp) {
        var length = response.length;
        if (length > 0) {
            var html = "";
            for (var i = 0; i < length; i++) {
                var title = response[i].title;
                if (title.length > 38) {
                    title = title.substr(0, 38) + "..."
                }
                html += '<li>';
                html += '<div class="suggest_icon fl"></div>'
                html += '<a href="/front/Advise/adviseDetail?adviseId=' + response[i].id + '&year=' + year + '&type=' + type + '"><dl>';
                html += '<dt>' + title + '</dt>'
                html +=
                    '<dd class="date">提交人：' + response[i].uname + '</dd>'
                html +=
                    '<dd class="date">' + response[i].updated + '<span class="fr status dsc">' + getStatus(response[i].aduitStatus) + '</span></dd>'
                html += "</dl></a>";
                html += '</li>';
            }
            if (downOrUp == "down") {
                setTimeout(function () {
                    $('.listdata').html();
                    $('.listdata').html(html)
                    miniRefreshArr.endDownLoading(true); // 结束下拉刷新
                }, 1000)
            } else {
                setTimeout(function () {
                    $('.listdata').append(html);
                    miniRefreshArr.endUpLoading(false);
                }, 1000)
            }
        } else {
            if (downOrUp == 'down') {
                $('.listdata').html('');
                miniRefreshArr.endDownLoading(true);
            } else if (downOrUp == "up") {
                miniRefreshArr.endUpLoading(true);
            }
        }
    }

    function getStatus(code) {
        var status = "";
        switch (code) {
            case 0:
                status = "待审查";
                break;
            case 1:
                status = "不予接收";
                break;
            case 2:
                status = "交办中";
                break;
            case 3:
                status = "交办中";
                break;
            case 4:
                status = "办理中";
                break;
            case 5:
                status = "已答复";
                break;
            case 6:
                status = "已评价";
                break;
        }
        return status;
    }
</script>