<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1, user-scalable=0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>提建议</title>
    <link rel="stylesheet" href="/static/front/css/reset.css">
    <link rel="stylesheet" href="/static/front/css/minirefresh.min.css">
    <link rel="stylesheet" href="/static/front/css/style.css">
    <style>

    </style>
</head>
<body>
<div class="editor_box">
    <ul>
        <li>
            <div class="cloum_name ">
                <span>标题：</span>
            </div>
            <div class="right_box">
                <input class="adviseId" th:value="${advise?.id}" type="hidden"/>
                <input type="text" class="input_text title" th:value="${advise?.title?:''}" placeholder="请输入标题"/>
            </div>
        </li>
        <li>
            <div class="cloum_name ">
                <span>正文：</span>
            </div>
            <div class="right_box">
                <textarea name="adviseContent" class="adviseContent" placeholder="请输入正文" th:utext="${advise?.adviseContent}"></textarea>
            </div>
        </li>
        <li>
            <div class="cloum_name ">
                <span>附议人：</span>
            </div>
            <div class="right_box ">
                <div class="add_fyr" id="userList" th:year="${year?:0}">
                    <span th:each="vo:${users}" th:utext="${vo?:''}+'<i></i>'"></span>
                </div>
                <a class="add_btn lookUp"></a>
            </div>

        </li>
    </ul>
    <input type="submit" value="提交" onclick="submitAdvise()">
</div>
</body>
</html>

<script src="/static/front/js/CXJSBridge.js"></script>
<script src="/static/front/js/jquery-1.7.2.min.js"></script>
<script src="/static/front/js/rem750.js"></script>
<script src="/static/front/js/minirefresh.min.js"></script>
<script src="/static/front/js/lookup.js"></script>
<script src="/static/front/js/cookieutils.js"></script>
<script>
    $(document).on('click touchstart', '.add_fyr span', function () {
        $(this).remove()
    });

    function submitAdvise() {
        var title = $(".title").val();
        var adviseId = $(".adviseId").val();
        var adviseContent = $(".adviseContent").val();
        var uid = getcookiebyname("uid");
        var fid = getcookiebyname("fid");
        if (!uid || !fid) return;
        var resolutioners = "";
        $("#userList span").each(function () {
            resolutioners += $(this).text() + ",";
        })
        var year = $("#userList").attr("year");
        var url = "/front/Advise/saveAdviseData";
        $.ajax({
            type: "POST",
            url: url,
            data: {
                'id': adviseId,
                'title': title,
                'adviseContent': adviseContent,
                'resolutioners': resolutioners,
                'uid': uid,
                'fid': fid
            },
            success: function (msg) {
                if (msg == '200') {
                    location.href = "/front/Advise/listAdvise?year=" + year;
                } else {
                    alert("保存失败")
                }
            }
        });
    }
</script>